export APP_ADDR=localhost:8080
export COLLECTOR_URL=http://localhost:8080
export BROKER_URL=http://localhost:4222
export BROKER_SUBJECT=events
export DATABASE_URL=postgres://iot_app:jw8s0F9234kjsdfkj4r5ds@localhost:5432/iot?sslmode=disable