{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoTA</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/uPlot.min.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/uPlot.iife.min.js"></script>
</head>

<body>
    {{template "navbar" .}}
    <main id="main-content" class="container">
        {{template "content" .}}
    </main>
</body>

</html>
{{end}}