{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoTA</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <script src="/static/js/htmx.min.js"></script>

</head>

<body>
    {{template "navbar" .}}
    <main id="main-content" class="container">
        {{template "content" .}}
    </main>
    <footer class="footer block">
        <div class="content has-text-centered">
            <p>&copy; <span id="current-year"></span> IoT Dashboard. All rights reserved.</p>
        </div>
    </footer>
    <script>
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>
</body>

</html>
{{end}}