{{ define "content" }}
<div>
    <form action="/devices" method="POST">
        <div class="field">
            <label for="location" class="label">Location</label>
            <div class="control">
                <input id="location" name="location" class="input" type="text" placeholder="Device location" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">Onboard device</button>
            </div>
        </div>
    </form>
</div>

{{ if not .Devices }}
<div class="has-text-centered">
    <h3 class="title is-3">You have no devices registered</h3>
</div>
{{ else }}
<table class="table is-fullwidth">
    <caption>
        <h3 class="title is-3">Onboarded Devices</h3>
    </caption>
    <thead>
        <tr>
            <th>Location</th>
            <th>Date onboarded</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="devices-rows">
        {{ range .Devices }}

        <tr id="device-row-{{ .ID }}">
            <td>{{ .Location }}</td>
            <td>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</td>
            <td>
                <div class="field is-grouped">
                    <a hx-get="/devices/{{.ID}}" hx-target="#main-content" hx-push-url="true"
                        class="button is-link">View</a>
                    <button hx-patch="/devices/{{.ID}}/reauth" hx-target="#reauth-popover-content"
                        onclick="document.getElementById('reauth-popover').showPopover()"
                        class="button is-primary">Regenerate API Key</button>

                    <button hx-delete="/devices/{{.ID}}" hx-target="#device-row-{{ .ID }}" hx-confirm="Are you sure you want to offboard this device?"
                        class="button is-danger">Offboard</button>
                </div>
            </td>
        </tr>
        
        {{ end }}
    </tbody>
</table>
{{ end }}

<div id="reauth-popover" popover>
    <div id="reauth-popover-content"></div>
    <button class="button is-info" onclick="document.getElementById('reauth-popover').hidePopover()">Close</button>
</div>

{{ end }}